apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "application-chart-template.fullname" . }}
  labels:
    {{- include "application-chart-template.labels" . | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "application-chart-template.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "application-chart-template.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imageCredentials | empty | not }}
      imagePullSecrets:
        - name: {{ include "application-chart-template.fullname" . }}-docker-registry-secret
      {{- end }}
      {{- if .Values.initContainers | empty | not }}
      initContainers:
        {{- .Values.initContainers | toYaml | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "application-chart-template.name" $ }}
          envFrom:
            - configMapRef:
                name: {{ include "application-chart-template.name" $ }}-env
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: {{ .Values.service.name }}
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          resources:
            {{- .Values.resources | toYaml | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
          volumeMounts:
            {{- .Values.volumeMounts | toYaml | nindent 12}}
      restartPolicy: {{ .Values.restartPolicy }}
      volumes:
        {{- .Values.volumes | toYaml | nindent 8}}
